body{
  width: 100%;
}
header{
  width: 90%;
  height: 200px;
  text-align: left;
  margin: 50px 20px 10px 20px;

}
// main:after{
//    content: "";
//    display: table;
//    clear: both;
// }
h1{
  color: #47a3da;
}

section{
  display: inline-block;
  float: left;
}
