


h1 {
  font-size:25pt ;
  color:cornflowerblue;
  font-style: Impact;
}


h3{
  border-bottom:10px ;
  border-bottom-color: grey;
}

.cbp-ntaccordion .cbp-nttrigger {
  font-size:30pt ;
  color:cornflowerblue;
  font-style: cursive;

}

h3::before{
  content:'\27b5' ;
}


h3::hover::before{
  content:'\27b4' ;
}

h4::before{
  content:'\27b5' ;
}


h4::hover::before{
  content:'\27b4' ;
}



li {
  font-size:20pt;
  color:grey;
  font-style: Comic Sans Ms;
}

p {
  font-size:15pt;
  color:#FA8072;
  font-style:italic;
}
