


h1 {
  font-size: 3.5em; color:#FF00FF; font-style: Impact;
}


h3 {
  font-size:3em ; color:Green; font-style: cursive;
}


li {
  font-size:1.5em; color:#7FFF00; font-style: Comic Sans Ms;
}

p {
  font-size:0.5em; color:#FA8072; font-style:italic;
}
