


h1 {
  font-size:25pt ;
  color:cornflowerblue;
  font-style: Impact;
}


h3{
  border-bottom:10px ;
  border-bottom-color: grey;
}

.cbp-ntaccordion .cbp-nttrigger {
  font-size:30pt ;
  color:cornflowerblue;
  font-style: cursive;

}


h3::before{
  content:'\279c' ;
}


li {
  font-size:20pt;
  color:grey;
  font-style: Comic Sans Ms;
}

p {
  font-size:15pt;
  color:#FA8072;
  font-style:italic;
}
