/*iphone 5 and 5S portrait and landscape*/

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {



    li{                /*each set of 1 of each bottle, price, title, details, icon*/
      display: table;
      text-align: center;
      width: 30%;
      padding:10px  10px;
      float: left;
      margin-top: 40px;
      box-sizing: border-box;
      display: inline-block;
    }
    .cbp-vm-image{    /*bottle pictures*/
      display: inline-block;
      max-width: 100%;
      padding-bottom:0 10px 20px 10px;
      display: inline-block;
    }
    h3.cbp-vm-title{  /*names of drinks*/
      font-size: 25px;

    }
    div.cbp-vm-price{     /*prices*/
      margin-top: 10px;
      margin-bottom: 10px;
      color: grey;
      font-size: 25px;
      box-sizing: border-box;

    }
    .cbp-vm-details{  /* drink explanation */
      box-sizing: border-box;
      margin-bottom: 30px;


    }
    .cbp-vm-icon{  /*add to cart of bottles*/
      box-sizing: border-box;
      border-radius: 2px;
      color: white;
      background-color: #47a3da;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      text-align: center;
      margin-right: 90px;
    }



  }
