body{
  background-color: #47a3da;
  color: white;
}

h1{  /*responsive multicolumn form title*/
  color: white;
  font-size: 30px;
}


.bp-icon{  /*icons far right top*/
  color: white;
  font-size: 15px
  float:right;
}
.main{    /* main part of the document including columns but not top*/
  padding-left: 30px;
  padding-right: 30px;
}
.cbp-mc-form{
  width: 100%;
}

.cbp-mc-column{  /*each clomun*/
  float: left;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
label{   /*name of each input */
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:10px ;
  padding-bottom:10px ;
}
input{  /* text to fill in*/
  background-color:#47a3da;
  border: solid;
  border-color: white;
  padding-left: 5px;
  padding-right:5px ;
  padding-top:10px ;
  padding-bottom:10px ;
  font-size: 30px;
}
select{  /* display with options*/
  background-color:#47a3da;
  color: white;
  border: solid;
  border-color: rgb(166, 166, 166);
  padding-left: 5px;
  padding-right:5px ;
  padding-top:10px ;
  padding-bottom:10px ;
  font-size: 30px;
  border-radius: 2px;
}
.cbp-mc-form textarea{     /* display to write*/
  background-color: #47a3da;
  border: solid;
  border-color: white;
  padding-left: 5px;
  padding-right:5px ;
  padding-top:10px ;
  padding-bottom:10px ;
  font-size: 30px;
}


.cbp-mc-submit{     /*send your info submit bottom*/
  color: white;
  background-color:#10689a;
  width: 20%;
  margin: 0 auto;
  margin-left: 40%;
  margin-right:40%;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 20px

}










/* body is the area of the whole document*/
/*
body {
  background-color:cornflowerblue;
}

/* h1 is the designated area for the title of the form*/
/*h1 {
  font-size: 5em; color:white; font-style:tangerine;
}

.cbp-mc-form{
  float: left;
  margin: 10px;
  width: 10px
}
/* a are the elements with the icons on the top of the form, in my case,
we don't have any icons because deleting the css previous values, I have removed
their linked icons.*/
/*a {
  color:white;
}
/* label are the elements where you can read what to write in the next box. It is a
label for first name, last name, etc.*/
/*label{
  font-size:200%;
  color:white ;
  font-style: times;
}
/* area of input, different blocks to write first name, last name, email, phone number, etc.*/

/*input{
  font-size: 125%;
  color:white;
  font-style: calibri;
  background-color:cornflowerblue;
}
/* select is the area for the multi-options*/
/*select {
  background-color:cornflowerblue;
}

/* textarea are the block space to type information in Biography, afiliations and comments*/
/*textarea {
  background-color:cornflowerblue;
}*/
/*
.cbp-mc-column{
  width: 50%;
  padding: 20px;
  float: left;
  margin:10px 30px 10px 30px;
  text-align: left;

}
