/* body is the area of the whole document*/

body {
  background-color:cornflowerblue;
}

/* h1 is the designated area for the title of the form*/
h1 {
  font-size: 5em; color:white; font-style:tangerine;
}

.cbp-mc-form{
  float: left;
  margin: 10px;
  width: 10px
}
/* a are the elements with the icons on the top of the form, in my case,
we don't have any icons because deleting the css previous values, I have removed
their linked icons.*/
a {
  color:white;
}
/* label are the elements where you can read what to write in the next box. It is a
label for first name, last name, etc.*/
label{
  font-size:200%;
  color:white ;
  font-style: times;
  margin: 20px;
  width: 30px;
}
/* area of input, different blocks to write first name, last name, email, phone number, etc.*/

input{
  font-size: 125%;
  color:white;
  font-style: calibri;
  background-color:cornflowerblue;
}
/* select is the area for the multi-options*/
select {
  background-color:cornflowerblue;
}

/* textarea are the block space to type information in Biography, afiliations and comments*/
textarea {
  background-color:cornflowerblue;
}

.cbp-mc-column{
  width: 500px;
  padding: 20px;
  float: left;
  margin:20px 20px 20px 20px;
  text-align: left;

}
