h1{
  color:cornflowerblue ;
  font-size:3em ;
  font-style: cursiva ;
}
h2 {
  color:white ;
  font-size:2em ;
  font-style:colibri ;
}
.cbp_tmtime{
  float: left;

}
.cbp_tmlabel{
  color: white;
  float: left;
  background-color: cornflowerblue;
  font-style: colibri;
  margin-right: 15px;
  width: px
}
.cbp_tmtime {
  color: cornflowerblue;
}
time.cbp_tmtime{
  box-sizing: border-box;
  font-size: 16px;
  padding-bottom: 20px;
  background-color: cornflowerblue;
  float: left;

}
