h1{
  color:#8A2BE2 ;
  font-size:3em ;
  font-style: cursiva ;
}
h2 {
  color:Green ;
  font-size:2em ;
  font-style:colibri ;
}
.cbp_tmlabel{
  color: #7B68EE;
  background-color: #FFE4C4;
  font-style: colibri;
}
.cbp_tmtime {
  color: red;
  background-color: #9ACD32;
}
.main {
  display: block;
}
