h1{
  color: #47a3da;
}
main.container{
  width: 100%;

}

nav.tabs{
  height: 100px;
  color: white;
  background-color: #47a3da;
  div{
    display: inline-block;
    margin: 30px 30px;
    font-size: 30px;
  }
}

div:hover{
  color: #02639d;
}
div#lovely::before{
  content: "\f106";
}

section.active{
  display: inline-block;
  width: 100%;
}
section{
  display: none;
}

section.b{
  width: 15%;
  display: block;
  float: left;
  border-right-width: thin;
  background-color: grayscale(15%);
  h3{
    color: lightgray;
    text-align: center;
  }
}

section#fine{
  width: 60%;
  margin-left: 30%;
}
// this media doesn't work
@media screen and (max-device-width: 1024px){
   nav.tabs{
    display: block;
    font-size: 10px;
  }
}
