h1{
  color: #47a3da;
}

main.container{
  box-sizing: border-box;
}
.tabs{
  list-style-type: none;
  background-color: #47a3da;

}

/* ==========================================================================

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "grid";
















/* ==========================================================================
   Helper classes
   ========================================================================== */
